@import base

.header
  z-index: 10
  position: fixed

.logo
  font:
    family: 'proxima-nova', 'din', sans-serif
    weight: 800
  margin: .5em
  padding: 3px
  position: absolute
  top: 0
  width: 120px
  border: 6px solid $white
  background-color: $black
  +text-shadow(-1px -1px 1px $black)
  +box-shadow($black 0 0 3px inset)
  font-size: 2em
  text-align: center
  color: $white
  +transition-duration(.5s)
  +transition-property(background-color)
  &:hover
    background-color: $purple