@import base

.header
  z-index: 10
  position: fixed

.logo
  margin: .5em
  padding: 3px
  position: absolute
  top: 0
  width: 120px
  border: 6px solid $white
  background-color: $black
  text-align: center
  font:
    size: 2em
    weight: 800
    family: 'proxima-nova', 'din', sans-serif
  color: $white
  +transition-duration(.35s)
  +transition-property(outline)
  &:hover
    border: 6px solid $purple
    outline: 6px solid $white

.triangle
  border:
    bottom: 100px solid transparent
    left: 250px solid $purple