@import base

.header
  background-color: $black
  height: 80px

.logo
  padding: 3px
  width: 100px
  position: relative
  top: 55px
  border: 5px solid $white
  font:
    size: 2em
    family: proxima-nova
  text-align: center
  color: $white
