@import load

.banner_image
  margin-bottom: 50px
  position: relative
  background-color: $l-gray
  height: 300px
  border-bottom: 6px solid rgba($purple, .5)
  +box-shadow(0 0 0 30px $purple)

.banner_image_copy
  position: absolute
  bottom: 5%
  max-width: 75%
  font:
    family: 'didot'
    size: 1.5em
    style: italic
  color: $black

.track_row
  margin:
    top: 20px
    bottom: 20px
  overflow: auto

.track_title, .track_category, .track_play, .track_record
  float: left

.track_title, .track_category, .track_play
  padding:
    top: 3px
    bottom: 3px

.track_record
  padding:
    top: 2px
    bottom: 4px

.track_title, .track_category
  width: 100px

.track_play, .track_record
  +border-radius(4px)
  border:
    width: 1px
    style: solid
  text-align: center
  cursor: pointer

.track_play
  margin-right: 5px
  width: 50px
  border-color: lighten($black, 15%)
  +background-image(linear-gradient(lighten($black, 15%), lighten($black, 4%)))
  &:hover
    +background-image(linear-gradient(lighten($black, 15%), lighten($black, 15%)))

.track_record
  width: 180px
  border-color: lighten($d-purple, 5%)
  +background-image(linear-gradient(lighten($d-purple, 5%), darken($d-purple, 10%)))
  &:hover
    +background-image(linear-gradient(lighten($d-purple, 5%), lighten($d-purple, 5%)))

