@import base

.banner_image
  background:
    image: url(image_path('banner.jpg'))
    repeat: no-repeat
    position: center center
  height: 500px
  +background-size(cover)

.banner_image_copy
  position: relative
  top: 5em
  max-width: 18em
  font:
    family: 'ratio'
    size: 2.25em
    style: italic
  color: $white

.track_title, .track_category, .track_play, .track_download
  float: left
  width: 25%
  text-align: center
  font-size: 1.25em