.banner_image
  .triangle_right
  .wrap
    %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our tracks below!

.wrap
  %h3 Free tracks
  %ul.tracks
    %li.track_row
      %p.track_title Track 1
      %p.track_category Old School
      %p.track_play Play Preview
      %p.track_download Download
    .track_row
      %p.track_title Track 1
      %p.track_category Old School
      %p.track_play Play Preview
      %p.track_download Download
    .track_row
      %p.track_title Track 1
      %p.track_category Old School
      %p.track_play Play Preview
      %p.track_download Download
    .track_row
      %p.track_title Track 1
      %p.track_category Old School
      %p.track_play Play Preview
      %p.track_download Download