.banner_image
  .triangle_right
  .wrap
    %h2.banner_image_copy We supply the beats you need to be a great MC. Browse our tracks below!

.wrap
  %h3 Free tracks
  %ul.tracks
    %li.track_row
      %p.track_title Track 1
      %p.track_category 8-bit
      %a.track_play{:href => '#'} ▶
      %a.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 2
      %p.track_category Old School
      %a.track_play{:href => '#'} ▶
      %a.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 3
      %p.track_category Weird
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 4
      %p.track_category Reggae
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track
    %li.track_row
      %p.track_title Track 5
      %p.track_category 8-bit
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 6
      %p.track_category Underground
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 7
      %p.track_category Pop
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track
    .track_row
      %p.track_title Track 8
      %p.track_category Slow Jamz
      %p.track_play{:href => '#'} ▶
      %p.track_record{:href => '#'} Record your track