.banner_image
  .wrap
    %p.banner_image_copy We supply the beats you need to be a great MC. Browse our tracks below!

.wrap
  %h1 Free tracks
  .tracks
    .tracks_row
      .track_title
        Track 1
      .track_category
        Old School
      .track_play
        Play Preview
      .track_download
        Download
    .tracks_row
      .track_title
        Track 2
      .track_category
        Reggae
      .track_play
        Play Preview
      .track_download
        Download
    .tracks_row
      .track_title
        Track 3
      .track_category
        Old School
      .track_play
        Play Preview
      .track_download
        Download
    .tracks_row
      .track_title
        Track 4
      .track_category
        Reggae
      .track_play
        Play Preview
      .track_download
        Download
