@import compass/reset
@import load

body
  line-height: 1.5
  background-color: $black
  // +background-image(radial-gradient(45px 45px, cover, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%))
  color: $white

div, a, h1, h2, p, input, span, label, textarea
  font:
    family: 'Open Sans', sans-serif

a
  text-decoration: none
  color: $white

.wrap
  margin:
    right: 1em
    left: 1em
  max-width: 800px