@import compass/reset
@import compass/css3

$white: #FFFFFF
$purple: #8146d9
$d-purple: #333366
$black: darken($d-purple, 22%)
$l-gray: #D8D8D8

body
  line-height: 1.5
  background-color: $black
  // +background-image(radial-gradient(45px 45px, cover, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%))
  color: $white

a, p
  font:
    family: 'ratio', 'delicious', sans-serif
    size: 400

a
  text-decoration: none

p
  color: $purple

.wrap
  margin:
    right: 1em
    left: 1em
  max-width: 980px